chef:
  lookup:
    client: chef-client
    confdir: /etc/chef

# Required params are chef_server_url, validation_pem, and validation_client_name
chef:
  # Sync the system clock via ntp before attempting to call chef-client
  ntp_sync: False
  client_rb:
    chef_server_url: https://mychefserver.example.com/
    log_level: :info
    log_location: STDOUT
    validation_client_name: chef-validator
    validation_key: {{ chef.confdir }}/validation.pem
    additional_config: |
      Any additional lines here
      as a multiline string.
  validation_pem: |
    -----BEGIN RSA PRIVATE KEY-----
    key goes inline here
    -----END RSA PRIVATE KEY-----
