chef:
  lookup:
    client: chef-client
    config_file: /etc/chef/client.rb
    validation_file: /etc/chef/validation.pem

chef:
  client_rb:
    chef_server_url: https://mychefserver.example.com/
    log_level: :info
    log_location: STDOUT
    validation_client_name: chef-validator
    validation_key: {{ chef.lookup.validation_file }}
    additional_config: |
      Any additional lines here
      as a multiline string.
  validation_pem: |
    -----BEGIN RSA PRIVATE KEY-----
    key goes inline here
    -----END RSA PRIVATE KEY-----
