{% set chef = {
    'Debian': {
        'client': 'chef-client',
        'confdir': '/etc/chef',
    },
    'RedHat': {
        'client': 'chef-client',
        'confdir': '/etc/chef',
    },
}.get(grains.os_family) %}
