{% set chef = salt['grains.filter_by']({
    'default': {
        'client': 'chef-client',
        'bootstrap_command': 'curl -L https://www.opscode.com/chef/install.sh | bash'
    },
}, merge=salt['pillar.get']('chef:lookup')) %}
